<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="imgs_container">
      <% images.forEach(image => {%> 
        <div class="img_contanier">
        <div class="img">
          <img src="<%= image.url %>" alt="Image" height="300" width="300" />
        </div>
        <form action="/delete/<%= image.id %>?_method=DELETE" method="POST">
          <button class="btn btn-delete" type="submit">Delete</button>
        </form>
      </div>
      <%})%>
      
    </div>
  </body>
</html>
