<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h3>Upload Files</h3>
        <div class="drop_box">
          <header>
            <h4>Select File here</h4>
          </header>
          <p>Files Supported: PDF, Imgs</p>
          <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file"  name="singleimage" id="fileID"  />
            <input type="submit" class="btn" value="upload file">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
